$phone: 480px;
$tablet: 720px;
$maxWidth: 1920px;

$arrayBgColor: #282c34;
$cellBgColor: rgb(162, 194, 201);
$cellTextColor: black;
$valueArrayTitleColor: rgb(26, 195, 247);
$cellBorder: white;

$chartBgColor: rgb(212, 212, 212);
$chartBgShadow: white;

$textColor: white;
$bgColor: #282c34;
$buttonPauseColor: red;
$buttonPlayColor: rgb(0, 102, 255);
